:root {
    --font-size: 18px;
    --button-width: 80px;
    --button-height: 55px;
    --button-padding: 10px;
    --button-border-radius: 5px;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    position: relative; /* Necesario para el posicionamiento absoluto del botón */
}

#generateVideoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #cccccc;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    background-color: #f2f2f2;
    width: 90%;
    max-width: 800px;
    margin-top: 80px; 
}

#generateVideoForm h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
}


#generateVideoForm input,
#generateVideoForm textarea,
#generateVideoForm button,
#generateVideoForm select {
    
    margin-bottom: 23px;
    width: 100%;
    font-size: var(--font-size); /* Igualar el tamaño de fuente */
}

#generateVideoForm label{
    

    width: 100%;
    font-size: var(--font-size); /* Igualar el tamaño de fuente */
}

#generateVideoForm input,
#generateVideoForm textarea,
#generateVideoForm select {
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: var(--font-size);
    transition: border-color 0.3s;
}

#generateVideoForm input:focus,
#generateVideoForm textarea:focus,
#generateVideoForm select:focus {
    border-color: #888888;
    outline: none;
}

#generateVideoForm textarea {
    resize: none;
}

#generateVideoForm button,
#addFactButton,
#toggleMusicButton,
.fact button,
.narration button,
.intro button {
    border: none;
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    cursor: pointer;
    font-size: var(--font-size);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#generateVideoButton {
    background-color: #ff004f;
    color: white;
}

#generateVideoButton:hover {
    background-color: #e60046;
    box-shadow: 0 4px 10px rgba(230, 0, 70, 0.4);
}

#addFactButton,
#toggleMusicButton {
    background-color: #008CBA;
    color: white;
    margin: 0 auto;
    display: block;
    width: auto;
    text-align: center;
}

#addFactButton:hover,
#toggleMusicButton:hover {
    background-color: #007BB5;
    box-shadow: 0 4px 10px rgba(0, 123, 181, 0.4);
}

.fact,
.narration,
.intro {
    display: flex;
    align-items: center;
    width: 100%;
}

.fact textarea,
.narration textarea,
.intro textarea{
    margin-right: 15px;
    flex-grow: 1;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    font-size: var(--font-size);
    width: calc(100% - 100px);
}

.fact button,
.narration button,
.fact button.play-button,
.narration button.play-button,
.intro button,
.intro button.play-button{
    background-color: #ff004f;
    color: white;
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    cursor: pointer;
    font-size: var(--font-size);
    transition: background-color 0.3s, box-shadow 0.3s;
    width: var(--button-width);
    height: var(--button-height);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.fact button img,
.narration button img,
.intro button img{
    width: 20px;
    height: 20px;
}

.fact button:hover,
.narration button:hover,
.fact button.play-button:hover,
.narration button.play-button:hover,
.intro button:hover,
.intro button.play-button:hover{
    background-color: #e60046;
    box-shadow: 0 4px 10px rgba(230, 0, 70, 0.4);
}

.fact button.play-button,
.narration button.play-button,
.intro button.play-button{
    background-color: #008CBA;
}

.fact button.play-button:hover,
.narration button.play-button:hover,
.intro button.play-button:hover{
    background-color: #007BB5;
    box-shadow: 0 4px 10px rgba(0, 123, 181, 0.4);
}

#videoDetails,
#musicDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

#videoDetails img,
#musicDetails img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
    display: block;
}

#videoTitle,
#musicTitle {
    font-weight: bold;
    text-align: center;
    font-size: var(--font-size);
}

#musicThumbnail {
    margin-left: auto;
    margin-right: auto;
}
