<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <form id="generateVideoForm" method ="post">
        <div id="languageContainer">
            <label for="languageSelect">Select Language:</label>
            <select id="languageSelect" onchange="toggleLanguage()">
                <option value="en">English</option>
                <option value="es">Spanish</option>
            </select>
        </div>
        <h1 data-lang-key="generateVideo">Generate Video</h1>
        
        <label for="videoType" data-lang-key="videoType">Video Type:</label>
        <select id="videoType" name="videoType" onchange="toggleVideoType()">
            <option value="narration" data-lang-key="narration">Narration</option>
            <option value="facts" data-lang-key="facts">Facts</option>
        </select>

        <div id="introContainer">
            <label for="introText" data-lang-key="introText">Introduction Text:</label>
            <div id="intro">
                <div class="intro">
                    <textarea id="introText" name="introText" rows="2" cols="80" maxlength="300" oninput="validateIntro()"></textarea>
                    <button type="button" id="introPlayButton" onclick="playIntro()" style="width: 45px; height: 45px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="volume-up" viewBox="0 0 16 16">
                            <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
                            <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
                            <path d="M10.025 8a4.5 4.5 0 0 1-1.318 3.182L8 10.475A3.5 3.5 0 0 0 9.025 8c0-.966-.392-1.841-1.025-2.475l.707-.707A4.5 4.5 0 0 1 10.025 8M7 4a.5.5 0 0 0-.812-.39L3.825 5.5H1.5A.5.5 0 0 0 1 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 7 12zM4.312 6.39 6 5.04v5.92L4.312 9.61A.5.5 0 0 0 4 9.5H2v-3h2a.5.5 0 0 0 .312-.11"/>
                          </svg>
                    </button>
            </div>  
        </div>

        <div id="factsContainer">
            <label for="factsText" data-lang-key="factsText"> Facts:</label>
            <div id="factList">
                <div class="fact">
                    <textarea name="fact[]" id="fact1" class="fact" rows="2" cols="80" maxlength="300" oninput="validateFacts()"></textarea>
                    <button type="button" id="play1" class="play-fact" onclick="playFact(event)" style="width: 45px; height: 45px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="volume-up" viewBox="0 0 16 16">
                            <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
                            <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
                            <path d="M10.025 8a4.5 4.5 0 0 1-1.318 3.182L8 10.475A3.5 3.5 0 0 0 9.025 8c0-.966-.392-1.841-1.025-2.475l.707-.707A4.5 4.5 0 0 1 10.025 8M7 4a.5.5 0 0 0-.812-.39L3.825 5.5H1.5A.5.5 0 0 0 1 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 7 12zM4.312 6.39 6 5.04v5.92L4.312 9.61A.5.5 0 0 0 4 9.5H2v-3h2a.5.5 0 0 0 .312-.11"/>
                          </svg>
                    </button>
                    <button type="button" id="removeFactButton" onclick="removeFact(this)" disabled="true" style="width: 45px; height: 45px; cursor: not-allowed; opacity: 0.3; pointer-events: none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="trash" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                          </svg>
                    </button>
                </div>
            </div>
            <button type="button" id="addFactButton" onclick="addFact()" data-lang-key="addFact">➕</button>
        </div>

        <div id="narrationContainer">
            <label for="narrationText" data-lang-key="narrationText">Narration Text:</label>
            <div id="narrationList">
                <div class="narration">
                    <textarea id="narrationText" name="narrationText" rows="2" cols="80" maxlength="1000" oninput="validateNarration()"></textarea>
                    <button type="button" id="narrationPlayButton" onclick="playNarration()" style="width: 45px; height: 45px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="volume-up" viewBox="0 0 16 16">
                            <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
                            <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
                            <path d="M10.025 8a4.5 4.5 0 0 1-1.318 3.182L8 10.475A3.5 3.5 0 0 0 9.025 8c0-.966-.392-1.841-1.025-2.475l.707-.707A4.5 4.5 0 0 1 10.025 8M7 4a.5.5 0 0 0-.812-.39L3.825 5.5H1.5A.5.5 0 0 0 1 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 7 12zM4.312 6.39 6 5.04v5.92L4.312 9.61A.5.5 0 0 0 4 9.5H2v-3h2a.5.5 0 0 0 .312-.11"/>
                          </svg>
                    </button>
                </div>
            </div>
        </div>

        <div id="videoContainer">
            <label for="videoLink" data-lang-key="videoLink">YouTube Video Link:</label>
            <div id="videoList">
                <div id="videoAndButton">
                    <div class="video">
                        <textarea type="text" id="videoLink" name="videoLink" rows="1" cols="80" maxlength="1000" oninput="videoLinkListener()"></textarea>
                        <button type="button" id="videoFileButton" onclick="addFile('video')" style="width: 45px; height: 45px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="folder-plus" viewBox="0 0 16 16">
                                <path d="m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z"/>
                                <path d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5"/>
                              </svg>
                        </button>
                        <div id="videoDetails">
                            <img id="videoThumbnail" src="" alt="Thumbnail" style="display: none;">
                            <p id="videoTitle" class="bold"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="musicContainer" style="display: none;">
            <label for="musicLink" data-lang-key="musicLink">YouTube Music Link:</label>
            <div id="musicList">
                <div id="musicAndButton">
                    <div class="music">
                        <textarea type="text" id="musicLink" name="musicLink" rows="1" cols="80" maxlength="1000" oninput="musicLinkListener()"></textarea>
                        <button type="button" id="musicFileButton" onclick="addFile('music')" style="width: 45px; height: 45px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="folder-plus" viewBox="0 0 16 16">
                                <path d="m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z"/>
                                <path d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5"/>
                              </svg>
                        </button>
                        <div id="musicDetails">
                            <img id="musicThumbnail" src="" alt="Thumbnail" style="display: none;">
                            <p id="musicTitle" class="bold"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" id="toggleMusicButton" onclick="toggleMusicSection()" data-lang-key="toggleMusicYes">Add Music to Video</button>
        <button type="button" id="generateVideoButton" onclick="generateVideo()" data-lang-key="generateVideoButton">Generate Video</button>
    </form>
    <div id="videoModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <video id="previewVideo" controls>
                <source id="videoSource" src="" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <a id="downloadButton" href="" download="video.mp4">Download Video</a>
        </div>
    </div>

    <!-- Loading screen element -->
    <div id="loadingScreen"  style="display: none;">
        <div class="loader"></div>
    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
